<h1><%= @post.title %></h1>
<h3>By: <a href="/users/<%= @post.user_id %>"><span class="post_author"><%= User.find(@post.user_id).username %></span></a></h3>
<p><%= @post.body %></p> 
<ul>
  <li>
    <a href="/posts/<%= @post.id %>/edit">Edit</a>
  </li>
  <li>
    <%= delete_post_button(@post.id) %>
  </li>
</ul>
